:root{
    --color-orange: #FFA500;
    --color-tomato: #ff6347;
    --color-white: #fff;
    --color-pink: #FCDECD;
    --color-gray:#5B5B5B;
    --color-black: #000;
    
}

body{
    
    font-family: 'Poppins', sans-serif;
    padding:0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

section{
    margin-bottom: 50px;
}

.flex-display{
    display: flex;
}

.half-width{
    width: 50%;
}
h1{
    font-size: 50px;
    line-height: 20px;
}
/* -------Header-------- */
header{
    background-color:var(--color-pink) ;
    
}
header nav ul{
    justify-content: center;
    margin-top:0px;
    margin-bottom: 0px;
}

header nav ul li a{
    color: #000;
    display: block;
    padding: 30px ;
    
}

header nav ul li a:hover{
    color: var(--color-tomato);
    border-bottom:3px solid var(--color-tomato);
}

/* ---------------------Top Banner-------------------------- */
.title-orange{
    color:var(--color-orange);
}
.link-button{
    background-image: linear-gradient(45deg, var(--color-orange), var(--color-tomato));
    padding: 10px 30px;
    color: var(--color-white);
    border-radius: 30px;
    display: inline-block;
    margin-top: 30px;
}

.left-half{
    margin: 140px 60px;
}
.right-half{
    margin-right: 60px;
}
.right-half img{
    width: 100%;
    height: auto;
}

/* --------------About me------------------- */

#about-me{
    height: 500px;
    background-color:var(--color-pink);
    background-image: url(images/shapes/7.png);
    background-size: cover;
    background-position:left;
    background-repeat: no-repeat;
    padding-top: 50px ;
}
#about-me img{
    max-height: 500px;
    width: auto;
    margin-left: 200px;
    
}

.description{
    display: inline-block;
    margin-right:180px ;
    text-align: justify;
}

/* --------------My Recipies--------------- */

.center{
   
    text-align: center;
}
.recipie-header{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.recipie-header h1{
    color: #676767;
}
.recipie-header p{
    margin-top: 5px;
    width: 45%;
}
.recipie-items{
    margin: 0 40px 0 60px;
}
.recipie-item{
    width:33.33%;
    padding: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow:2px 5px 10px 4px #eee;
}
.item-img{
    width:100%;
    height: auto;

}
.item-title{
    font-weight: bold;
}
.item-description{

}

/* ----------info---------- */
#info{
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;

}
.item-container{
    
     box-shadow:2px 5px 10px 4px #eee;
     width: 100%;
     border-radius: 10px; 
}
.info-item{
    width: 33%;
    padding-left: 20px;
   text-align: center;
}

#follow-us p{
    text-align: center;
    margin-bottom: 2px;
    font-weight: bold;
}
#follow-us a{
    padding:15px 30px 0;
    color: #000;
   

}
#follow-us a img{
     width:60px;
     height:60px;
}

.icon-1:hover{
    content:url(images/icons/Facebook.png) ;
    height:60px;
    width:60px;
}
.icon-2:hover{
    content:url(images/icons/Instagram.png) ;
    height:60px;
    width:60px;
}
.icon-3:hover{
    content:url(images/icons/Youtube.png) ;
    height:60px;
    width:60px;
}
.icon-4:hover{
    content:url(images/icons/Github.png) ;
    height:60px;
    width:60px;
}

/* ------Footer------ */
footer{
    background-color: var(--color-black) ;
    color: var(--color-white);
    text-align: center;
    padding: 30px;
}
footer h2{
    color:var(--color-gray);
}